# Environment variables declared in this file are used by Prisma and the application core

# Prisma DB connection
DATABASE_URL="postgresql://postgres:password@localhost:5489/voucher_core?schema=public"

# Application listening port
PORT=3000
